body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      background-color: rgb(244, 247, 247);
    }
    main {
      flex: 1;
    }

/* .contact {
    background-color: #ffc107;    for future updates
    padding: 3px;
    border-radius: 5px;
} */